.setting {
    font-size: 18px;
    float: right;
}

a:link.btn-account{
    color: black;
    background-color: transparent;
    line-height: 2rem;
}

a:hover.btn-account{
    color: black;
    background-color: #c26261;
    opacity: 0.5;
}

a:active.btn-account {
    color: #c26261;
    background-color: transparent;
}

a:visited.btn-account {
    color: black;
    background-color: #c26261;
}

.account > p{
    font-family: 'Times New Roman', Times, serif;
    font-size:25px;
}

.account{
    width:58%;
    min-height:300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.account > p{
    width: 90%;
}

.account > form{
    border: 1px solid maroon;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-block: 20px;
    border-radius: 5px;
    width: 90%;
}

.account > form > span {
    width:100%;
    display: grid;
    place-items: center;
    gap: 10px;
}

.account > form > span:last-of-type{
    place-items: end;
    padding-right: 10%;
}

input {
    padding: 60px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    display: flex;
    border: 1px solid #8d2826;
    border-radius: 15px;
}

input[type=submit] {
    width: 20%;
    background-color: #8d2826;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #c26261;
    color: white;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    width: 80%;
    font-weight: bold;
}

section{
    display:flex;
    padding-top:20px;
    column-gap: 10%;
}