.primary {
    color: #3498DB ;
}

.text-underline {
    text-decoration: underline;
}
.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.hide{
    display: none !important;
}


.w-full {
    width: 100%;
}

.border-none{
    border : none !important;
}

/* FLEX */
.flex {
    display: flex;
}

.justify-center { 
    justify-content: center !important;
}

.items-center {
    align-items: center;
}

.gap-md {
    gap: 8px;
}

