
h1 {
    color: #8d2826;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 25px;
    padding-top: 20px;
}





#charts {
    height: 100vh; 
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);

    gap: 20px;
}
#total-enrolles {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
#total-enrolles > div.card {
    height: fit-content;
    background-color: #c08080;
    display: flex;
    flex-direction: column;
    padding-block: 50px;
    padding-inline: 40px;
    /* border-radius: 20px; */
    align-items: center;
}
#pie-chart {
    grid-column: 1 /2;
    display: flex;
    justify-content: center;
}
#pie-chart > div.chart {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}
#bar-chart {
    grid-column: 2;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pie-chart {
    grid-column: 1;
}

canvas {
    height: 500px; width: 300px;
}

#bar-chart > canvas {
    width: 100%;
}


